.depoimentos_section {
    background: #DB271A;
    .depoimentos_carousel {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        color: white;
        .carousel-indicators {
            display: flex;
            justify-content: center;
            gap: 8px;
            button {
                width: 16px;
                height: 16px;
                border-radius: 50%;
            }    
        }
        .carousel-item {
            padding-top: 70px;
            padding-bottom: 80px;
            min-height: 250px;
            position: relative;
            &::before {
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                width: 100px;
                height: 70px;
                background-repeat: no-repeat;
                background-image: url("data:image/svg+xml,%3Csvg width='100' height='70' viewBox='0 0 100 70' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M21.975 25.75C26.3015 25.75 30.5308 27.0329 34.1281 29.4366C37.7254 31.8403 40.5292 35.2567 42.1849 39.2538C43.8405 43.2509 44.2737 47.6493 43.4297 51.8926C42.5856 56.1359 40.5022 60.0337 37.443 63.093C34.3837 66.1522 30.4859 68.2356 26.2426 69.0797C21.9993 69.9237 17.6009 69.4905 13.6038 67.8349C9.60667 66.1792 6.19026 63.3754 3.7866 59.7781C1.38295 56.1808 0.1 51.9515 0.1 47.625L0 44.5C0 32.8968 4.60936 21.7688 12.8141 13.5641C21.0188 5.35936 32.1468 0.75 43.75 0.75V13.25C39.6444 13.239 35.5773 14.0419 31.784 15.6125C27.9906 17.183 24.5462 19.49 21.65 22.4C20.5243 23.5235 19.4859 24.7312 18.5438 26.0125C19.6625 25.8375 20.8063 25.7438 21.9688 25.7438L21.975 25.75ZM78.225 25.75C82.5515 25.75 86.7808 27.0329 90.3781 29.4366C93.9754 31.8403 96.7792 35.2567 98.4349 39.2538C100.091 43.2509 100.524 47.6493 99.6797 51.8926C98.8356 56.1359 96.7522 60.0337 93.693 63.093C90.6337 66.1522 86.7359 68.2356 82.4926 69.0797C78.2493 69.9237 73.8509 69.4905 69.8538 67.8349C65.8567 66.1792 62.4403 63.3754 60.0366 59.7781C57.6329 56.1808 56.35 51.9515 56.35 47.625L56.25 44.5C56.25 32.8968 60.8594 21.7688 69.0641 13.5641C77.2688 5.35936 88.3968 0.75 100 0.75V13.25C95.8944 13.239 91.8273 14.0419 88.034 15.6125C84.2406 17.183 80.7962 19.49 77.9 22.4C76.7743 23.5235 75.7359 24.7312 74.7937 26.0125C75.9125 25.8375 77.0563 25.7438 78.225 25.7438V25.75Z' fill='%23E45858'/%3E%3C/svg%3E ");
            }
            &::after {
                content: "";
                position: absolute;
                bottom: 0;
                right: 0;
                width: 100px;
                height: 70px;
                background-image: url("data:image/svg+xml,%3Csvg width='100' height='70' viewBox='0 0 100 70' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M78.125 44.5C73.7985 44.5 69.5692 43.2171 65.9719 40.8134C62.3746 38.4097 59.5708 34.9933 57.9151 30.9962C56.2595 26.9991 55.8263 22.6007 56.6703 18.3574C57.5144 14.1141 59.5978 10.2163 62.6571 7.15705C65.7163 4.09778 69.6141 2.01438 73.8574 1.17033C78.1007 0.32628 82.4991 0.759478 86.4962 2.41514C90.4933 4.07081 93.9098 6.87459 96.3134 10.4719C98.7171 14.0692 100 18.2985 100 22.625L100.1 25.75C100.1 31.4953 98.9684 37.1844 96.7697 42.4924C94.5711 47.8004 91.3485 52.6234 87.2859 56.6859C83.2234 60.7485 78.4004 63.9711 73.0924 66.1697C67.7844 68.3684 62.0953 69.5 56.35 69.5V57C60.4556 57.011 64.5227 56.2081 68.3161 54.6375C72.1094 53.067 75.5538 50.76 78.45 47.85C79.5757 46.7265 80.6141 45.5188 81.5563 44.2375C80.4212 44.4159 79.274 44.5057 78.125 44.5063V44.5ZM21.875 44.5C17.5485 44.5 13.3192 43.2171 9.72191 40.8134C6.12459 38.4097 3.32081 34.9933 1.66515 30.9962C0.00947826 26.9991 -0.42372 22.6007 0.420332 18.3574C1.26438 14.1141 3.34777 10.2163 6.40705 7.15705C9.46632 4.09778 13.3641 2.01438 17.6074 1.17033C21.8507 0.32628 26.2491 0.759478 30.2462 2.41514C34.2433 4.07081 37.6598 6.87459 40.0634 10.4719C42.4671 14.0692 43.75 18.2985 43.75 22.625L43.85 25.75C43.85 37.3532 39.2406 48.4812 31.0359 56.6859C22.8312 64.8906 11.7032 69.5 0.10001 69.5V57C4.20562 57.011 8.27269 56.2081 12.066 54.6375C15.8594 53.067 19.3038 50.76 22.2 47.85C23.3257 46.7265 24.3641 45.5188 25.3063 44.2375C24.1712 44.4159 23.024 44.5057 21.875 44.5063V44.5Z' fill='%23E45858'/%3E%3C/svg%3E%0A");
                background-repeat: no-repeat;
            }
        }
        .depoimentos_carousel_text {
            text-align: center;
            max-width: 960px;
            margin: 0 auto;

            .name {
                font-style: normal;
                font-weight: 600;
                font-size: 32px;
                line-height: 42px;  
            }
            .ensino {
                font-family: 'Poppins';
                font-style: normal;
                font-weight: 500;
                font-size: 22px;
                line-height: 32px;
                text-align: center;
                color: $yellow;
            }
            .text {
                font-family: 'Poppins';
                font-style: normal;
                font-weight: 300;
                font-size: 18px;
                line-height: 27px;
            }
        }
    }
}